# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
deepfake/
conda-meta/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log
logs/
outputs/logs/

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# PyTorch models
*.pt
*.pth
models/
checkpoints/

# Data (IMPORTANT: avoid pushing large datasets)
data/raw/
data/processed/
data/splits/

# Outputs
outputs/predictions/
outputs/visualizations/

# Flask temp files
instance/
.webassets-cache

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Node (frontend)
node_modules/
npm-debug.log
yarn-error.log

# Misc
*.swp
*.bak